<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Angular 4 App</title>
    </head>
    <body>
        <my-app>Loading AppComponent content here ...</my-app>
    </body>
</html>
